<div class="main">
  <div class=" col-5 ">
    <div class="">
      <h2 class="formTitle d-flex justify-content-center">Agregar Productos</h2>

      <form id="productForm">
    
        <label>Nombre del producto:</label>
        <input type="text" class="form-control" name="name" required><br>
        <label>Precio:</label>
        <input type="number" class="form-control" name="price" required><br>
        <label>Imagen:</label>
        <input type="file" class="form-control" name="thumbnail" required><br>
        <label>Descripción:</label>
        <input type="text" class="form-control" name="description" required><br>
        <label>Código:</label>
        <input type="text" class="form-control" name="code" required><br>
        <label>Stock:</label>
        <input type="number" class="form-control" name="stock" required><br>
        <input type="submit" class="btn btn-info" value="Agregar producto"> 
       
      </form>
            
    </div>    
        
  </div>
    

       
</div>


<script src="/js/productsAdd.js"></script>